# Model Persistence

In [1]:
import pandas as pd

In [2]:
data = {
    'data': [2, 3, 4, 10, 12, 20, 30, 11, 25]
}
df = pd.DataFrame(data)
df

   data
0     2
1     3
2     4
3    10
4    12
5    20
6    30
7    11
8    25

In [3]:
from sklearn import cluster

In [11]:
kmeans = cluster.KMeans(n_clusters=2)
kmeans.fit(df)
labels = kmeans.predict(df)

array([0, 0, 0, 0, 0, 1, 1, 0, 1], dtype=int32)

In [5]:
df['cluster'] = labels
df

   data  cluster
0     2        0
1     3        0
2     4        0
3    10        0
4    12        0
5    20        1
6    30        1
7    11        0
8    25        1

In [6]:
centroids = kmeans.cluster_centers_
print(centroids)

[[ 7.]
 [25.]]

In [7]:
import pickle

In [8]:
f = open('kmeans.pkl', 'wb')
pickle.dump(kmeans, f)
f.close()

In [9]:
f = open('kmeans.pkl', 'rb')
stored_kmeans = pickle.load(f)
f.close()

In [12]:
print(stored_kmeans.cluster_centers_)

[[ 7.]
 [25.]]